<section class="container content-section text-center">
  <div class="row">
      <h2>Getting Here</h2>
      <p>
        For those flying in, Budapest's one and only Liszt Ferenc airport is where you will be arriving. <br>
        The Accomodation and the Venue are next to each other and can be found below:
      </p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <h2>
        Rotter Lajos Turistahàz
      </h2>
      <p>
        <a href="https://maps.app.goo.gl/694zBHTCZbcF59pt5">Budapest, Hármashatárhegyi út 3, 1037 Hungary</a>
      </p>      
  </div>
  <div class="col-lg-4 col-sm-6">
      <h2>
        Event'sHill
      </h2>
      <p>
        <a href="https://maps.app.goo.gl/kSqqVYW73cVnkVVVA">Budapest, Hármashatárhegyi út 3, 1037 Hungary</a>
      </p>      
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
      <h2>Where you are Staying</h2>
      <p>
        If you are not a Budapest native and you have opted to stay with us, then you will be staying at Rotter Lajos Turistahàz. This is just a stones throw away from the venue!
      </p>
      <p>
        The accomodation is self catering, we wil stock the fridges and cupboards whilist you are satying with us including Friday Evening Dinner, Saturday Breakfast and Lunch and Sunday brunch.<br>
        There are no shops on the mountain so please make sure to grab anything you need as you pass through Budapest. 
      </p>
    </div>
</section>

<section class="container content-section text-center">
  <div class="row">
      <h2 id="getting-around">Getting Around</h2>
      <p>
        The venue is quite far out of the city so is not accesible by public transport. Please use one of the below to get to the venue.
      </p>

      <div class="row">
          <div class="col-lg-6 text-left">

          <h3>Car</h3>

          <p>
            If you have a car or have hired a car then the accomodation and venue both have parking. 
          </p>
        </div>

        <div class="col-lg-6 text-left">

          <h3>miniBUD</h3>

          <p>
            This is a popular airport transfer service that you can book in advance.
          </p>
          <p>
            For more info check out their 
            <a href="https://www.minibud.hu/en">website</a>.
          </p>
        </div>



        <div class="col-lg-6 text-left">
          <h3>Public Transport</h3>
          <p>
           Budapest has great public transport links to almost all parts of the city except the airport (it's just one bus) and the venue! 
          </p>
          <p>
            That being said if you want to do some site seeing I would reccomend City Mapper App & the Budapest Go App
          </p>
          <p>
            Budapest Go allows you to buy tickets on your phone with card, to use the tickets there are QR codes on the <em>OUTSIDE</em> of Buses/Trams/Trolley Buses and at the entrace of Metro Stations.
          </p>
        </div>

        <div class="col-lg-6 text-left">
          <h3>Uber & Bolt</h3>

          <p>
            App based travel has finally arrived to the Hungarian capital, both Uber and Bolt run. I only have experience with bolt but it is well priced and pretty fast to get a ride.
          </p>
        </div>

      <p>
        To help you get around we have put together a map of Budapest.
      </p>

      <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1m5qCyVeZCNYEmE-hFm79czO5mS-P7YI&ehbc=2E312F" class="map"></iframe>
      </div>

  </div>
</section>
